.outerFloatHead{             
    margin:0;
    padding:0;            
    border-top:0px solid black;             
    border-right:0px solid black;             
    border-left:0px solid black; 
    background:white;
    position:absolute;
    background-image: url("../icons/stripes.gif"); 
    background-repeat:repeat;
    font-family:'Courier New',Courier,monospace;
    box-shadow: 7px 7px 8px -0px rgba(140,140,140,1);
}
.floatHead{            
    margin:0;
    padding:0px;
    border-color: black;
    text-align: center;            
    position:absolute;
    border:0;              
    background:white;                             
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    font-weight:bold;
    background-image: url("../icons/stripes.gif"); 
    background-repeat:repeat;
    font-family:'Courier New',Courier,monospace;
    box-shadow: 0px 7px 8px -2px rgba(140,140,140,1);
}

.floatCorner{            
    margin:0;
    padding:0px;
    border-color: black;
    text-align: center;            
    position:absolute;
    border:0;              
    background:#dbd7c6;                        
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    font-weight:bold;
    background-image: url("../icons/stripes.gif"); 
    background-repeat:repeat;
    font-family:'Courier New',Courier,monospace;
    box-shadow: 7px 7px 5px -0px rgba(140,140,140,1);
}
.floatCol{            
    margin:0;
    padding-bottom:0px;
    border-color: black;
    text-align: left;            
    position:absolute;
    border:0;                                      
    border: 0px solid black;    
    font-family: 'Courier New',Courier,monospace;
    background-image: url("../icons/stripes.gif"); 
    font-size:0.8em;  
    box-shadow: 7px 0px 8px -1px rgba(140,140,140,1);
}
.floatHead  span{
    position:absolute;
    text-align: center; 
    bottom:0;
    left:0;
    width:100%;
}
.table tr:hover{
    background:#edebe0;
}
