.outerFloatHead{             
    margin:0;
    padding:0;            
    border-right:0px solid black;             
    border-left:0px solid black; 
    background:white; 
}
.floatHead{            
    margin:0;
    padding:0px;
    border-color: black;
    text-align: center;              
    border:0;              
    background:white;                             
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-weight:bold;
}
.floatCorner{            
    margin:0;
    padding:0px;
    border-color: black;
    text-align: center;             
    border:0;              
    background:#dbd7c6;                        
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-weight:bold;
}
.floatCol{            
    margin:0;
    padding:0px;
    border-color: black;
    text-align: left;       
    vertical-align:middle;             
    background:#edebe0;                           
    border: 1px solid blue; 
}

.table tr:hover{
    background:#edebe0;
}